<nav class="navbar navbar-expand-lg clearfix bg-main">

	<!-- Left links -->
  	<ul class="navbar-nav me-auto mb-2 mb-lg-0 btn-group">
        <li class="nav-item ">
          <a class="nav-link text-white" aria-current="page" href="#">Entidade Empregadora</a>
        </li>
  	</ul>

  	<!-- Left links -->
	<div ngbDropdown container="body" class="d-inline-block btn-group" display="dynamic" placement="bottom-end">
	  <button  class="btn btn-outline-primary me-2" type="button" id="btn-login" ngbDropdownToggle >
	    Entrar
	  </button>
	  <div  ngbDropdownMenu aria-labelledby="btn-login">
  		<form ngbDropdownItem class="px-4 py-3">
		  <div class="form-group">
		    <label for="userEmail">Endereço de Email</label>
		    <input type="email-palavrapasse" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Digite o seu email/ nome de usuário">
		    <small id="emailHelp" class="form-text text-muted">Não partilharemos o seu email com ninguém.</small>
		  </div>
		  <div class="form-group">
		    <label for="userPassword">Palavra Passe</label>
		    <input type="password" class="form-control" id="userPassword" placeholder="Password">
		  </div>
		  
		  <button type="submit" class="btn btn-primary">Entrar</button>
		</form>
	  </div>
	</div>


</nav>